@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: poppins, sans-serif;
}

.pricing-container{
    text-align: center;
    color: black;
    background-color: rgb(252, 246, 246);
    overflow: hidden;
    padding: 10px;
}

.div-container{
    padding: 10px 25px;
}

.outer-div{
    width: 25%;
    float: left;
}

.inner-div{
    background-color: rgb(233, 224, 224);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.upper-div{
    background-color: rgb(233, 224, 224);
    padding: 10px;
    border-radius: 10px;
}

.bg-blue{
background-color: rgb(71, 71, 231);
}

.btn-blue{
    color: rgb(71, 71, 231);
}

.btn-black{
    color: black;
}

.btn-white{
    color: white;
}

.bg-smoke{
    background-color: rgb(196, 185, 185);
}

.btn-class a{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

.px-0{
    padding-left: 0px;
    padding-right: 0px;
}
