.h-1{
    background-color: orange;
    color: red;
}

.h-2{
    background-color: yellowgreen;
    color: brown;
    text-align: center;
}

.div-tag{
    background-color: violet;
}

.para{
    color: white;
    padding: 10px 20px;
    background-color: red;
}

.div-cont{
    margin: 100px 0px 20px 50px;
    background-color: orange;
    overflow: hidden;
}
